<h1><%= @cocktail.name %></h1>

<br>

<% if @cocktail.doses.count > 0 %>
    <h3>List of ingredients:</h3>
    <br>
    <ul>
        <% @cocktail.doses.each do |dose| %>
        <li><%= dose.ingredient.name %> - <%= dose.description %>   <%= link_to '', dose, method: :delete, data: { confirm: 'Are you sure?' }, class: 'far fa-trash-alt' %></li>
        <% end %>
    </ul>
<% else %>
    <h3>No ingredient listed yet...</h3>
<% end %>

<br>

<%= link_to 'Back to the list', :cocktails, class: 'btn btn-success' %>
<%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail), class: 'btn btn-primary'%>
